{
  "env": {
    "es2022": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "no-console": 0,
    "import/no-unresolved": [
      2,
      {
        "commonjs": true
      }
    ],
    "prettier/prettier": "error"
  }
}